<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<fns_config>
    <!-- simulation time (ms) -->
    <stop>6000</stop>

	<!-- number of neurons for each node -->
	<glob_n>100</glob_n>
    <!-- SW topology (true) or random network (false) -->
    <glob_small_world_topology>true</glob_small_world_topology>
    <!-- SW rewiring probability-->
    <glob_rewiring_P>0.5</glob_rewiring_P>
    <!-- SW mean degree -->
    <glob_k>30</glob_k>
	
    <!-- ratio between excitatory and total neuron number-->
    <glob_R>0.4</glob_R>
    <!-- burst cardinality factor -->
    <glob_Bn>1</glob_Bn>
	
    <!-- inter-burst interval -->
    <glob_IBI>0.03</glob_IBI>
    <!-- post-synaptic weight -->
    <glob_mu_w>0.9</glob_mu_w>
    <!-- pre-synaptic excitatory amplitude-->
    <glob_w_pre_exc>0.8</glob_w_pre_exc>
    <!-- pre-synaptic inhibitory amplitude-->
    <glob_w_pre_inh>0.7</glob_w_pre_inh>
    <!-- number of (parallel) external inputs -->
    <glob_external_inputs_number>40</glob_external_inputs_number>
    <!-- type of external input:0) Poisson, 1) constant, 2) noise -->
    <glob_external_inputs_type>1</glob_external_inputs_type>
    <!-- external input initial time offset (never initialize it to 0) -->
    <glob_external_inputs_time_offset>0.2</glob_external_inputs_time_offset>
    <!-- time step between two distinct input event from the same input source,
     for Poisson and constant input type -->
    <glob_external_inputs_timestep>1</glob_external_inputs_timestep>
    <!-- Poisson firerate (for other input type it is ignored) -->
    <glob_external_inputs_firerate>0.1</glob_external_inputs_firerate>
    <!-- duration of the external input -->
    <glob_external_inputs_fireduration>1000</glob_external_inputs_fireduration>
	<!-- amplitude of each external input -->
    <glob_external_inputs_amplitude>0.074</glob_external_inputs_amplitude>
    <!-- axonal speed -->
    <avg_neuronal_signal_speed>5.1</avg_neuronal_signal_speed>
    <!-- enable plasticity rule -->
    <glob_plasticity>false</glob_plasticity>
    <glob_plasticity_eta_plus>0.001</glob_plasticity_eta_plus>
    <glob_plasticity_eta_minus>0.0005</glob_plasticity_eta_minus>
    <glob_plasticity_tau_plus>10.0</glob_plasticity_tau_plus>
    <glob_plasticity_tau_minus>1.0</glob_plasticity_tau_minus>
    <glob_plasticity_to>3.0</glob_plasticity_to>
	
	<!-- neuron parameters -->
    <global_neuron_manager>
        <!-- linear decay factor for the inner state of each neuron -->
        <D>0.07</D>
        <!-- threshold constant -->
        <c>0.04</c>
        <!-- refractory period of each neuron (ms) -->
        <t_arp>2</t_arp>
    </global_neuron_manager>
    
	<!-- single node parameters  -->
	<node>
        <id>0</id>
        <n>100</n>
	<small_world_topology>true</small_world_topology>
        <rewiring_P>0.5</rewiring_P>
        <k>30</k>
        <R>0.4</R>
		<Bn>2</Bn>
        <IBI>0.1</IBI>
        <mu_w>0.91</mu_w>
        <w_pre_exc>0.81</w_pre_exc>
        <w_pre_inh>0.71</w_pre_inh>
        <external_inputs_number>50</external_inputs_number>
      	<external_inputs_type>1</external_inputs_type>
        <external_inputs_time_offset>0.21</external_inputs_time_offset>
      	<external_inputs_timestep>1</external_inputs_timestep>
      	<external_inputs_firerate>0.1</external_inputs_firerate>
      	<external_inputs_fireduration>1000</external_inputs_fireduration>
		<external_inputs_amplitude>0.075</external_inputs_amplitude>
		<plasticity>false</plasticity>
        <plasticity_eta_plus>0.05</plasticity_eta_plus>
        <plasticity_eta_minus>0.001</plasticity_eta_minus>
        <plasticity_tau_plus>30.0</plasticity_tau_plus>
        <plasticity_tau_minus>5.0</plasticity_tau_minus>
        <plasticity_to>5.0</plasticity_to>
		
		<neuron_manager>
            <D>0.07</D>
            <c>0.04</c>
            <t_arp>2</t_arp>
        </neuron_manager>
    </node>
</fns_config>
