<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<fns_config>
    <!-- simulation time (ms) -->
    <stop>6000</stop>
    <lif>true</lif>
    <exp_decay>true</exp_decay>
    <!-- number of neurons for each node -->
    <glob_n>100</glob_n>
    <!-- SW rewiring probability-->
    <glob_rewiring_P>0.5</glob_rewiring_P>
    <!-- SW mean degree -->
    <glob_k>30</glob_k>
	
    <!-- ratio between excitatory and total neuron number-->
    <glob_R>0.8</glob_R>
    <!-- burst cardinality factor -->
    <glob_Bn>1</glob_Bn>
    <!-- inter-burst interval -->
    <glob_IBI>0.03</glob_IBI>
	
    <!-- post-synaptic weight -->
    <glob_mu_w_exc>0.08</glob_mu_w_exc>
    <glob_mu_w_inh>0.04</glob_mu_w_inh>
    <!-- pre-synaptic excitatory amplitude-->
    <glob_w_pre_exc>1</glob_w_pre_exc>
    <!-- pre-synaptic inhibitory amplitude-->
    <glob_w_pre_inh>1</glob_w_pre_inh>
	
    <!-- number of (parallel) external inputs -->
    <glob_external_inputs_number>100</glob_external_inputs_number>
    <!-- type of external input:0) Poisson, 1) constant, 2) noise -->
    <glob_external_inputs_type>1</glob_external_inputs_type>
    <!-- external input initial time offset (never initialize it to 0) -->
    <glob_external_inputs_time_offset>0.2</glob_external_inputs_time_offset>
    <!-- time step between two distinct input event from the same input source,
     for Poisson and constant input type -->
    <glob_external_inputs_timestep>1</glob_external_inputs_timestep>
    <!-- Poisson firerate (for other input type it is ignored) -->
    <glob_external_inputs_firerate>0.1</glob_external_inputs_firerate>
    <!-- duration of the external input -->
    <glob_external_inputs_fireduration>6000</glob_external_inputs_fireduration>
	<!-- amplitude of each external input -->
    <glob_external_inputs_amplitude>0.074</glob_external_inputs_amplitude>
    <!-- axonal speed -->
    <avg_neuronal_signal_speed>5.1</avg_neuronal_signal_speed>

    <!-- enable plasticity rule -->
    <glob_plasticity>false</glob_plasticity>
    <glob_plasticity_eta_plus>0.001</glob_plasticity_eta_plus>
    <glob_plasticity_eta_minus>0.0005</glob_plasticity_eta_minus>
    <glob_plasticity_tau_plus>10.0</glob_plasticity_tau_plus>
    <glob_plasticity_tau_minus>1.0</glob_plasticity_tau_minus>
    <glob_plasticity_to>3.0</glob_plasticity_to>
	
	<!-- neuron parameters -->
    <global_neuron_manager>
        <!-- linear decay factor for the inner state of each neuron -->
        <D>0.07</D>
        <!-- threshold constant -->
        <c>0.04</c>
        <!-- refractory period of each neuron (ms) -->
        <t_arp>2</t_arp>
    </global_neuron_manager>
    
</fns_config>
